/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(https://fonts.googleapis.com/css?family=Quicksand:300,regular,500,600,700);

.task {
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 3px, rgba(0, 0, 0, 0.1) 0px 3px 3px;
  margin: 10px 0;
  padding: 0.8rem;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.task:hover {
  border: 1px solid rgba(255, 255, 255, 1);
  background: rgba(255, 255, 255, 0);
}

.task h3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
}
.task.reminder {
  border-left: 4px solid var(--primary-color);
}
.task p {
  font-size: 0.7rem;
}

@keyframes animate {
  0% {
    color: white;
  }

  100% {
    color: orangered;
  }
}
.heart {
  animation: animate 2s infinite alternate-reverse ease;
}
